openapi: 3.2.0
info:
  title: Slack Web Auth API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: Auth
  description: Authentication and authorization methods
paths:
  /auth.test:
    post:
      tags:
      - Auth
      summary: Slack Test Authentication
      description: Checks authentication and tells the caller who they are. Returns information about the token holder including user ID, team ID, and team name.
      operationId: authTest
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/auth.test
      responses:
        '200':
          description: Successful authentication test
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  url:
                    type: string
                    description: URL of the team
                  team:
                    type: string
                    description: Team name
                  user:
                    type: string
                    description: User name
                  team_id:
                    type: string
                    description: Team ID
                  user_id:
                    type: string
                    description: User ID
                  bot_id:
                    type: string
                    description: Bot user ID (if token belongs to a bot)
                  is_enterprise_install:
                    type: boolean
                    description: Whether this is an enterprise install
                required:
                - ok
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /auth.revoke:
    post:
      tags:
      - Auth
      summary: Slack Revoke an Access Token
      description: Revokes the access token that is used to call this method.
      operationId: authRevoke
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/auth.revoke
      parameters:
      - name: test
        in: query
        description: Setting this parameter to true triggers a testing mode.
        schema:
          type: boolean
      responses:
        '200':
          description: Token revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  revoked:
                    type: boolean
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
