openapi: 3.2.0
info:
  title: Slack Web Dnd API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: Dnd
  description: Do Not Disturb management
paths:
  /dnd.setSnooze:
    post:
      tags:
      - Dnd
      summary: Slack Set Snooze Duration
      description: Turns on Do Not Disturb mode for the current user for the specified number of minutes.
      operationId: dndSetSnooze
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/dnd.setSnooze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - num_minutes
              properties:
                num_minutes:
                  type: integer
                  description: Number of minutes to snooze for.
      responses:
        '200':
          description: Snooze set
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  snooze_enabled:
                    type: boolean
                  snooze_endtime:
                    type: integer
                  snooze_remaining:
                    type: integer
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dnd.info:
    get:
      tags:
      - Dnd
      summary: Slack Get Dnd Status for a User
      description: Retrieves a user's current Do Not Disturb status.
      operationId: dndInfo
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/dnd.info
      parameters:
      - name: user
        in: query
        description: User to fetch status for.
        schema:
          type: string
      responses:
        '200':
          description: DND info retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  dnd_enabled:
                    type: boolean
                  next_dnd_start_ts:
                    type: integer
                  next_dnd_end_ts:
                    type: integer
                  snooze_enabled:
                    type: boolean
                  snooze_endtime:
                    type: integer
                  snooze_remaining:
                    type: integer
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
