openapi: 3.2.0
info:
  title: Slack Web Team API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: Team
  description: Access workspace information
paths:
  /team.info:
    get:
      tags:
      - Team
      summary: Slack Get Team Information
      description: Gets information about the current team. Requires team:read scope.
      operationId: teamInfo
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/team.info
      parameters:
      - name: team
        in: query
        description: Team to get info about; if omitted, will return information about the current team.
        schema:
          type: string
      responses:
        '200':
          description: Team info retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  team:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      domain:
                        type: string
                      email_domain:
                        type: string
                      icon:
                        type: object
                        properties:
                          image_34:
                            type: string
                          image_44:
                            type: string
                          image_68:
                            type: string
                          image_88:
                            type: string
                          image_102:
                            type: string
                          image_132:
                            type: string
                          image_default:
                            type: boolean
                      enterprise_id:
                        type: string
                      enterprise_name:
                        type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
