openapi: 3.2.0
info:
  title: Slack Web Views API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: Views
  description: Open, update, and manage modals and App Home tabs
paths:
  /views.open:
    post:
      tags:
      - Views
      summary: Slack Open a Modal View
      description: Open a view for a user by providing a trigger_id received from a slash command, shortcut, or interactive component.
      operationId: viewsOpen
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/views.open
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - trigger_id
              - view
              properties:
                trigger_id:
                  type: string
                  description: Exchange a trigger to post to the user. Must be obtained from a slash command, shortcut, or interactive component.
                view:
                  type: object
                  description: A view payload in JSON format.
      responses:
        '200':
          description: View opened
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  view:
                    type: object
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /views.update:
    post:
      tags:
      - Views
      summary: Slack Update an Existing View
      description: Update an existing view.
      operationId: viewsUpdate
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/views.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                view_id:
                  type: string
                  description: A unique identifier of the view to be updated.
                external_id:
                  type: string
                view:
                  type: object
                  description: A view payload in JSON format.
                hash:
                  type: string
                  description: A string that represents view state to protect against possible race conditions.
      responses:
        '200':
          description: View updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  view:
                    type: object
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /views.publish:
    post:
      tags:
      - Views
      summary: Slack Publish a View to the App Home Tab
      description: Publish a static view for a user to the App Home tab.
      operationId: viewsPublish
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/views.publish
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - view
              properties:
                user_id:
                  type: string
                  description: ID of the user you want to publish a view to.
                view:
                  type: object
                  description: A view payload in JSON format.
                hash:
                  type: string
      responses:
        '200':
          description: View published
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  view:
                    type: object
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
