openapi: 3.2.0
info:
  title: Slack Web Usergroups API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: User Groups
  description: Manage user groups
paths:
  /usergroups.list:
    get:
      tags:
      - User Groups
      summary: Slack List All User Groups
      description: List all user groups for a team.
      operationId: usergroupsList
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/usergroups.list
      parameters:
      - name: include_count
        in: query
        schema:
          type: boolean
      - name: include_disabled
        in: query
        schema:
          type: boolean
      - name: include_users
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: User groups listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  usergroups:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        team_id:
                          type: string
                        is_usergroup:
                          type: boolean
                        name:
                          type: string
                        description:
                          type: string
                        handle:
                          type: string
                        is_external:
                          type: boolean
                        date_create:
                          type: integer
                        date_update:
                          type: integer
                        date_delete:
                          type: integer
                        auto_type:
                          type: string
                        created_by:
                          type: string
                        updated_by:
                          type: string
                        deleted_by:
                          type: string
                        user_count:
                          type: integer
                        users:
                          type: array
                          items:
                            type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
