openapi: 3.2.0
info:
  title: Slack Bookmarks API
  version: 1.0.0
  description: 'Operations tagged Bookmarks across 2 of this provider''s published API definitions: slack-bookmarks-openapi.yml, slack-web-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://slack.com/api
tags:
- name: Bookmarks
paths:
  /bookmarks.add:
    post:
      tags:
      - Bookmarks
      summary: Add Bookmark
      description: Adds a bookmark to a channel.
      operationId: postBookmarksAdd
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `bookmarks:write`'
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - title
              - type
              type: object
              properties:
                channel_id:
                  type: string
                  description: Channel to add the bookmark to.
                title:
                  type: string
                  description: Title of the bookmark.
                type:
                  type: string
                  description: Type of bookmark (e.g., link).
                  enum:
                  - link
                link:
                  type: string
                  description: URL of the bookmark.
                emoji:
                  type: string
                  description: Emoji tag for the bookmark.
                entity_id:
                  type: string
                  description: ID of the entity being bookmarked.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  bookmark:
                    type: object
              example:
                ok: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
              example:
                ok: false
                error: invalid_auth
      security:
      - slackAuth:
        - bookmarks:write
    servers:
    - url: https://slack.com/api
  /bookmarks.edit:
    post:
      tags:
      - Bookmarks
      summary: Edit Bookmark
      description: Edits an existing bookmark in a channel.
      operationId: postBookmarksEdit
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `bookmarks:write`'
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - bookmark_id
              type: object
              properties:
                channel_id:
                  type: string
                  description: Channel containing the bookmark.
                bookmark_id:
                  type: string
                  description: ID of the bookmark to edit.
                title:
                  type: string
                  description: New title of the bookmark.
                link:
                  type: string
                  description: New URL of the bookmark.
                emoji:
                  type: string
                  description: New emoji tag for the bookmark.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  bookmark:
                    type: object
              example:
                ok: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
              example:
                ok: false
                error: invalid_auth
      security:
      - slackAuth:
        - bookmarks:write
    servers:
    - url: https://slack.com/api
  /bookmarks.list:
    get:
      tags:
      - Bookmarks
      summary: List Bookmarks
      description: Lists bookmarks for a channel.
      operationId: getBookmarksList
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `bookmarks:read`'
        required: true
        schema:
          type: string
      - name: channel_id
        in: query
        description: Channel to list bookmarks for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  bookmarks:
                    type: array
                    items:
                      type: object
              example:
                ok: true
                bookmarks:
                - id: Bk123
                  channel_id: C123
                  title: Example
                  type: link
                  link: https://example.com
        default:
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
              example:
                ok: false
                error: invalid_auth
      security:
      - slackAuth:
        - bookmarks:read
    servers:
    - url: https://slack.com/api
  /bookmarks.remove:
    post:
      tags:
      - Bookmarks
      summary: Remove Bookmark
      description: Removes a bookmark from a channel.
      operationId: postBookmarksRemove
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `bookmarks:write`'
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - bookmark_id
              type: object
              properties:
                channel_id:
                  type: string
                  description: Channel containing the bookmark.
                bookmark_id:
                  type: string
                  description: ID of the bookmark to remove.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
              example:
                ok: false
                error: invalid_auth
      security:
      - slackAuth:
        - bookmarks:write
    servers:
    - url: https://slack.com/api
components:
  securitySchemes:
    slackAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://slack.com/oauth/v2/authorize
          tokenUrl: https://slack.com/api/oauth.v2.access
          scopes:
            bookmarks:read: Read bookmarks
            bookmarks:write: Write bookmarks
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
x-refined-from:
- slack-bookmarks-openapi.yml
- slack-web-api-openapi.yml
