openapi: 3.2.0
info:
  title: Slack Web Reminders API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: Reminders
  description: Create and manage reminders
paths:
  /reminders.add:
    post:
      tags:
      - Reminders
      summary: Slack Create a Reminder
      description: Creates a reminder for a user.
      operationId: remindersAdd
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/reminders.add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              - time
              properties:
                text:
                  type: string
                  description: The content of the reminder.
                time:
                  type: string
                  description: 'When this reminder should happen: Unix timestamp, or a human-readable natural language string.'
                user:
                  type: string
                  description: The user to receive the reminder. If not specified, defaults to the caller.
      responses:
        '200':
          description: Reminder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  reminder:
                    type: object
                    properties:
                      id:
                        type: string
                      creator:
                        type: string
                      user:
                        type: string
                      text:
                        type: string
                      recurring:
                        type: boolean
                      time:
                        type: integer
                      complete_ts:
                        type: integer
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reminders.list:
    get:
      tags:
      - Reminders
      summary: Slack List All Reminders
      description: Lists all reminders created by or for a given user.
      operationId: remindersList
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/reminders.list
      responses:
        '200':
          description: Reminders listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  reminders:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        creator:
                          type: string
                        user:
                          type: string
                        text:
                          type: string
                        recurring:
                          type: boolean
                        time:
                          type: integer
                        complete_ts:
                          type: integer
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
