openapi: 3.2.0
info:
  title: Slack Web Emoji API
  description: The Slack Web API is an HTTP-based interface that provides access to all of Slack's platform features.
  version: 1.0.0
  termsOfService: https://slack.com/terms-of-service/api
  contact:
    name: Slack Developer Support
    url: https://docs.slack.dev
  license:
    name: Slack API Terms of Service
    url: https://slack.com/terms-of-service/api
servers:
- url: https://slack.com/api
  description: Slack Web API production server
security:
- bearerAuth: []
tags:
- name: Emoji
  description: List custom emoji
paths:
  /emoji.list:
    get:
      tags:
      - Emoji
      summary: Slack List Custom Emoji
      description: Lists custom emoji for a team. Returns a map of emoji name to URL. Requires emoji:read scope.
      operationId: emojiList
      externalDocs:
        description: API method documentation
        url: https://docs.slack.dev/reference/methods/emoji.list
      responses:
        '200':
          description: Emoji listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  emoji:
                    type: object
                    additionalProperties:
                      type: string
                  cache_ts:
                    type: integer
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Slack API uses Bearer token authentication. Pass a bot token or user token in the Authorization header.
